@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 240 5% 90%;
    --surface: 240 10% 8%;
    --border: 240 10% 15%;
    --accent: 239 84% 67%;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  * {
    @apply border-border;
  }
}
